@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	
}

#header {
	height: 80px;
	max-height: 80px;
	min-width: 791px;
	line-height: 80px;
	margin: 0;
	margin: 0;
}

header {
	padding: 10px;
	width: 100%;
	background-color:#2c8884;
	color: #FFF;
	margin: 0;
	margin-right: 0;
}

header a:link, a:visited {
	color: #FFF;
	text-decoration: none;
}

header a:hover {
	color: #CCC;
	text-decoration: none;
}

header a:active {
	color: #999;
	text-decoration: none;
	position: relative;
	bottom: -2px;
	right: -2px;
	
}

nav {
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
	text-align: center;
	width: 70%;
	margin-left: 15%;
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
}

nav b {
	font-weight: 900;
}

#container {
	min-height: 85vh;
	min-width: 791px;
	margin-top: 30px;
}

#frontpagenews {
	margin: 5px;
	padding: 0;
	width: 19vw;
	min-width: 180px;
	height: 500px;
	background-color: #d0f4f4;
	float: left;
}

#innercontainer {
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-image: url(https://cloud.githubusercontent.com/assets/13402275/8978949/e086ae38-36e9-11e5-835f-7c818261656b.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 50vw;
	min-width: 400px;
	height: 500px;
	float: left;
}

#content {
	margin: auto;
	padding: 30px;
	background-color: rgba(255,255,255,0.6);
	height: 440px;
	overflow: scroll;
}

#facebookfeed {
	margin: 5px;
	padding: 0;
	width: 19vw;
	min-width: 180px;
	height: 500px;
	float: right;
}

h1 {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 900;
	font-size: 2em;
	color: #333;
	text-align: right;
}

p {
	font-family: 'Poiret One', cursive;
	font-size: 1em;
}

#footer {
	margin-top: 40px;
}

footer p {
	text-align: center;
	font-size: 0.5em;
}
