<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{page.title}}</title>
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link rel="stylesheet" type="text/css" href="style.css" />
<link href='https://fonts.googleapis.com/css?family=Poiret+One|Amatic+SC|Maven+Pro:400,900' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

<!--NAVBAR-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="headerlogo" src="https://cloud.githubusercontent.com/assets/13402275/8978758/7df873c4-36e8-11e5-9f08-3c703bf99316.png" style="height: 80px;" /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="signup.html"><b>Sign Up</b></a></li>
        <li><a href="index.html">About Us</a></li>
        <li><a href="events.html">Events</a></li>
	<li><a href="news.html">News</a></li>
	<li><a href="promote.html">Promote Your Band</a></li>
	<li><a href="sponsors.html">Sponsors</a></li>
	<li><a href="contact.html">Contact</a></li>
      </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/monashmss" target="_blank">
        	<!-- <img src="https://cloud.githubusercontent.com/assets/13402275/9187195/14d1648c-4011-11e5-832a-7e2d09a5f8e3.png" style="height: 54px;"> -->
        	<i class="fa fa-facebook-official" style="color: #FFF;"></i>
        </a></li>
        <li><a href="#" target="_blank">
        	<i class="fa fa-twitter" style="color: #FFF;"></i>
        </a></li>
      </ul>
    </div>
  </div>
</nav>
<!--NAVBAR END-->


<div class="container-fluid">
	<div class="row">
		




    <div class="col-sm-12" id="innercontainer">
    	<div id="content">

    		{{content}}

      </div>
    </div>
	</div>

	<div class="row">
		<div class="col-sm-12" id="footer">
			<footer id="copyright"></footer>
		</div>
	</div>
</div>


<script>
document.getElementById("copyright").innerHTML =
"<p>Copyright &copy;  " + new Date().getFullYear() + " Monash Music Students' Society. All rights reserved.</p>";
</script>





</body>
</html>
