<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, height=device-height">
<title>{{page.title}}</title>
<link rel="stylesheet" type="text/css" href="css/style2.css" />
<link href='https://fonts.googleapis.com/css?family=Poiret+One|Amatic+SC|Maven+Pro:400,900' rel='stylesheet' type='text/css'>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">
	jQuery(function($){
    	     $( '.menu-btn' ).click(function(){
    	     $('.responsive-menu').toggleClass('expand')
    	     })
        })
</script>

 
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="header">
	<header>
    <img id="headerlogo" src="https://cloud.githubusercontent.com/assets/13402275/8978758/7df873c4-36e8-11e5-9f08-3c703bf99316.png" style="height: 80px; float: left;" />	
            <nav id="headernav">
    		<a href=""><b>Join Us</b></a> |
        	<a href="index.html">About Us</a> |
        	<a href="">Events</a> |
        	<a href="">News</a> |
        	<a href="">Promote Your Band</a> |
        	<a href="">Sponsors</a> |
        	<a href="">Contact</a>
   	     </nav>
         
<div class="mobile-nav">
     <div class="menu-btn" id="menu-btn">
	<div></div>
	<span></span>
	<span></span>
	<span></span>
     </div>
 
     <div class="responsive-menu">
        <ul>
           <li id="mmenu1"><a href="">Join Us</a></li>
           <hr>
           <li><a href="">About Us</a></li>
           <hr>
           <li><a href="">Events</a></li>
           <hr>
           <li><a href="">News</a></li>
           <hr>
           <li><a href="">Promote Your Band</a></li>
           <hr>
           <li><a href="">Sponsors</a></li>
           <hr>
           <li><a href="">Contact</a></li>
        </ul>
     </div>
</div>
         
    	<a href=""><img class="socialmedia" id="facebooklogo" src="" /></a>
    	<a href=""><img class="socialmedia" id="twitterlogo" src="" /></a>
	</header>
</div>

<div id="container">

	<div id="frontpagenews">
  </div>
    
    <div id="innercontainer">
    	<div id="content">
        
    	{{content}}
    	
        </div>

    </div>
    
    <div id="facebookfeed">
    
    	<div class="fb-page" align="center" data-href="https://www.facebook.com/monashmss" data-height="500px" data-width="340px" data-small-header="false" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/monashmss"><a href="https://www.facebook.com/monashmss">Monash Music Students&#039; Society</a></blockquote></div></div>
    
    
    </div>
  
</div>
<div id="footer">
	<footer id="copyright"></footer>
</div>


<script>
document.getElementById("copyright").innerHTML =
"<p>Copyright &copy;  " + new Date().getFullYear() + " Monash Music Students' Society. All rights reserved.</p>";
</script>


</body>
</html>
